<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin
      name="%pluginName"
      id="oml.model"
      version="0.0.1"
      provider-name="%providerName">

   <requires>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.emf.ecore" export="true"/>
      <import plugin="org.eclipse.xtext.xbase.lib" export="true"/>
      <import plugin="org.eclipse.emf.ecore.xcore.lib" export="true"/>
   </requires>

   <runtime>
      <library name=".">
         <export name="*"/>
      </library>
   </runtime>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://imce.jpl.nasa.gov/oml"
            class="gov.nasa.jpl.imce.oml.OMLPackage"
            genModel="src/OMLSpecification.xcore"/>
   </extension>
   
</plugin>
